<%- include('../partials/header') %>
<%- include('../partials/messages') %>
<div class="row" style="margin-top: 2.5rem; margin-bottom: 2.5rem">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/users/<%= user.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="telephoneNumb">Telephone Number</label>
                    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" id="telephoneNumb"
                        name="telephoneNumb" value="<%= user.telephoneNumb %>" aria-describedby="telephoneNumbHelp">
                    <small id="telephoneNumbHelp" class="form-text text-muted">ex) 000-000-0000</small>
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <small id="passwordHelp" class="form-text text-muted">Password Should Be At Least 8 Characters
                        Long</small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="/users" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>