<%- include('../partials/header') %>
<div class="row" style="margin-top: 2.5rem">
   <div class="col-md-4 m-auto">
      <div class="card card-body">
         <div>
            <p>Name: <%= user.name %></p>
         </div>
         <div>
            <p>Email: <%= user.email %></p>
         </div>
         <div>
            <p>Telephone Number: <%= user.telephoneNumb %></p>
         </div>
         <div>
            <a href="/users/<%= user.id %>/edit"><button class="btn btn-primary" style="width: 5rem;">Edit</button></a>
            <a href="/users"><button class="btn btn-primary" style="width: 5rem;">Cancel</button></a>
         </div>
      </div>
   </div>
</div>