<%- include('../partials/header') %>
    <div class="row" style="margin-top: 2.5rem; margin-bottom: 2.5rem">
        <div class="col">
            <form action="/users/searchbooks" method="GET">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" value="<%= searched.title %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" name="author" id="author" value="<%= searched.author %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="publishedAfter">Published After</label>
                        <input type="date" class="form-control" name="publishedAfter" id="publishedAfter" value="<%= searched.publishedAfter %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="publishedBefore">Published Before</label>
                        <input type="date" class="form-control" name="publishedBefore" id="publishedBefore" value="<%= searched.publishedBefore %>">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <h2 style="margin-top: 2.5rem;">
                <%= books.length %> results</h2>
            <div class="table-responsive" style="margin-top: 2.5rem;">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Published Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach((book) => { %>
                            <tr>
                                <td><a href="/users/searchbooks/<%= book.id %>">
                                <img height="150" width="100" src="<%= book.coverImageSrc %>">
                            </a></td>
                                <td>
                                    <%= book.title %>
                                </td>
                                <td>
                                    <%= book.author %>
                                </td>
                                <td>
                                    <%= book.publishedDate.toDateString() %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row table-alternative">
        <% books.forEach((book) => { %>
            <div class="col-md-4">
                <div class="card-body">
                    <a href="/users/searchbooks/<%= book.id %>"><img height="150" width="100" src="<%= book.coverImageSrc %>"></a>
                    <a href="/users/searchbooks/<%= book.id %>" style="text-decoration: none;">
                        <p class="card-text" style="margin-top: 0.5rem; margin-bottom: 0.5rem; color: black;">
                            <%= book.title%>
                        </p>
                    </a>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted"><%= book.author%></small>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted"><%= book.publishedDate.toDateString()%></small>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>